/* * {
    outline: 1px solid tomato;
} */

body {
    background-image: url(./pictures/bg.jpg);
    font-family: 'Quantico', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

textarea {
    resize: none;
}

.counters {
    font-size: 20px;
    letter-spacing: 0.04em;
    line-height: 1.15;

    text-align: center;


    padding: 40px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.hero-name {
    color: white;
    margin-bottom: 20px;
    text-shadow: #FC0 1px 0 12px;
}

.hero-title {
    color: white;
    margin-bottom: 20px;
    text-shadow: #FC0 1px 0 4px;
}

.hero-text {
    margin-bottom: 20px;
}

.refresh {
    font-size: 24px;
    font-weight: 600;

    padding: 8px;
    margin-bottom: 20px;
    border-radius: 8px;

    color: white;
    background-color: rgb(255, 126, 0);
}

.refresh:hover {
    background-color: grey;
    box-shadow: 8px 8px rgba(255, 126, 0, 0.6);
}

.subs-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px
}

.subs-item {
    width: 200px;
    border: 1px solid black;

    padding: 16px;
    border-radius: 16px;

    background-color: rgba(202, 255, 0, 0.5);

    box-shadow: 19px 25px 88px -9px rgba(0, 0, 0, 0.64);
}

.social-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.social-link:hover {
    color: white;
    fill: white;
}

.icon-twitter,
.icon-youtube,
.icon-instagram,
.icon-tiktok {
    fill: inherit;
}

.icon-twitter:hover,
.icon-youtube:hover,
.icon-instagram:hover,
.icon-tiktok :hover {
    fill: inherit;
}

.stages-youtube,
.stages-twitter,
.stages-tiktok,
.stages-instagram {
    margin-top: 8px;
}

.stage-youtube,
.stage-twitter,
.stage-tiktok,
.stage-instagram {
    margin-bottom: 8px;
}

.stage-youtube:last-child,
.stage-twitter:last-child,
.stage-tiktok:last-child,
.stage-instagram:last-child {
    margin-bottom: 0;
}

.number-subs {
    font-size: 18px;
    margin-left: 20px;
}

.js-subs {
    font-size: 24px;
    line-height: 1.8;
}

.passed {
    color: green;
    text-shadow: 2px 2px 4px white;
}

.not-passed {
    color: red;
    text-shadow: 2px 2px 4px white;
}